{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">-->
    <link id="bootstrap-style" href="{% static 'bootstrap/themes/janux/css/bootstrap.min.css' %}" rel="stylesheet" >
    <link id="base-style" href="{% static 'bootstrap/themes/janux/css/style.css' %}" rel="stylesheet" >
    <link id="base-style-responsive" href="{% static 'bootstrap/themes/janux/css/style-responsive.css' %}" rel="stylesheet" >
    <link href="{% static 'bootstrap/themes/janux/css/bootstrap-responsive.min.css' %}" rel="stylesheet">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>

    <!--<link href="{% static 'bootstrap/themes/janux/css/style-forms.css' %}" rel="stylesheet" media="screen"> -->

</head>
<body>

    {% if request.user.is_authenticated %}
        <!--Copiar lo de abajo aqui para comprovar autentificacion-->
    {% else %}
        <!--<h1>NO ESTÁS LOGEADO</h1>-->
        {% block cabecera %} {% include "gestprj/cabecera.html" %} {% endblock %}
        {% block contenido %}{% endblock %}
        {% block pie %} {% include "gestprj/pie.html" %} {% endblock %}
    {% endif %}
</body>
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/efectos_projecte_nou.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</html>