<header>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="index.html"><span><h2>CABECERA</h2></span></a>
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">

                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" href="/projecte_nou">
                                <i class="icon-calendar"></i>  Nou projecte
                            </a>
                        </li>

                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" href="/llista_projectes">
                                <i class="icon-calendar"></i>  Veure projectes
                            </a>
                        </li>

                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i> Dani
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Opcions:</span>
                                </li>
                                <li><a href="#"><i class="halflings-icon user"></i> Perfil</a></li>
                                <li><a href="/logout"><i class="halflings-icon off"></i>Tancar Sessió</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>


                </a>
            </div>
        </div>
    </div>
    </header>