{% extends "gestprj/base.html" %}
{% block contenido %}
<!--<div class="container-fluid" name="contenedor_total">-->
<!--<div name="contenedor_general" class="col-md-12 col-md-offset-1">-->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- menu lateral-->
        <style>
            body,html,#sidebar-left{
            height:100%;
            }

            #content{
            background:red;
            height:100%;
            }




        </style>
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a href="#" id="general">General</a></li>
                    <li><a href="#" id="personal">Personal</a></li>
                    <li><a href="#" id="finançament">Finançament</a></li>
                    <li><a href="#" id="pressupost">Pressupost</a></li>
                    <li><a href="#" id="justificacions">Justificacions</a></li>

                    <!--<li>-->
                    <!--<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Dropdown</span><span class="label label-important"> 3 </span></a>-->
                    <!--<ul>-->
                    <!--<li><a class="submenu" href="submenu.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 1</span></a></li>-->
                    <!--<li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>-->
                    <!--<li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li>-->
                    <!--</ul>-->
                    <!--</li>-->

                </ul>
            </div>
        </div>

        {% csrf_token %}
        {{ form.non_field_errors }}

        <div id="content" name="contenedor_formularios" class="blue"> <!--span10??-->
            <form action="/projecte_nou/" method="post">

                <noscript>
                    <div class="alert alert-block span12 " align="center">
                        <h4 class="alert-heading">Atenció!</h4>
                        <p><br>Necessites instal·lar o activar <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> per utilitzar aquesta aplicaciò correctament.</p>
                    </div>
                </noscript>

                <!--##############GENERAL-->
                <div id="contenedor_general" class="cont_prj">
                    <div class="row-fluid">
                        <b class="col-md-2">Responsable</b>
                        <div>
                            {{ form.id_resp.errors }}
                            <label for="{{ form.id_resp.id_for_label }}">Nom:</label>
                            {{ form.id_resp }}
                        </div>
                    </div>

                    <div class="row-fluid">
                        {{ form.codi_oficial.errors }}
                        <label for="{{ form.codi_oficial.id_for_label }}"><b class="col-md-2">Codi oficial</b></label>
                        {{ form.codi_oficial }}

                        {{ form.acronim.errors }}
                        <label for="{{ form.acronim.id_for_label }}"><b>Acrònim</b></label>
                        {{ form.acronim }}

                    </div>
                    <div class="row-fluid">
                        {{ form.titol.errors }}
                        <label for="{{ form.titol.id_for_label }}"><b>Títol oficial:</b></label>
                        {{ form.titol }}
                    </div>

                    <div class="row-fluid">
                        {{ form.resum.errors }}
                        <label for="{{ form.resum.id_for_label }}"><b>Resum:</b></label>
                        {{ form.resum }}
                    </div>

                    <div class="row-fluid">
                        {{ form.serv_o_subven.errors }}
                        <label for="{{ form.serv_o_subven.id_for_label }}"><b>serv_o_subven:</b></label>
                        <span class="radio" value=1>{{ radio.tag }}Servei</span>
                        <span class="radio" value=2>{{ radio.tag }} Subvenció</span>
                        {{ form.serv_o_subven }}

                        {{ form.id_categoria.errors }}
                        <label for="{{ form.id_categoria.id_for_label }}"><b>Categoria:</b></label>
                        {{ form.id_categoria }}
                    </div>
                    <div class="row-fluid">
                        {{ form.convocatoria.errors }}
                        <label for="{{ form.convocatoria.id_for_label }}"><b>Convocatòria:</b></label>
                        {{ form.convocatoria }}

                        {{ form.resolucio.errors }}
                        <label for="{{ form.resum.id_for_label }}"><b>Resolució:</b></label>
                        {{ form.resolucio }}
                    </div>

                    <div class="row-fluid">
                        <b>Duració</b>
                        {{ form.data_inici_prj.errors }}
                        <label for="{{ form.data_inici_prj.id_for_label }}">Inici:</label>
                        {{ form.data_inici_prj }}
                        <input type="checkbox">Fi</input>

                        {{ form.data_fi_prj.errors }}
                        <label for="{{ form.data_fi_prj.id_for_label }}"></label>
                        {{ form.data_fi_prj }}
                    </div>

                    <div class="row-fluid">
                        {{ form.observacions.errors }}
                        <label for="{{ form.observacions.id_for_label }}"><b>Observacions:</b></label>
                        {{ form.observacions }}
                    </div>

                    <div class="row-fluid">
                        {{ form.es_docum_web.errors }}
                        <label for="{{ form.es_docum_web.id_for_label }}"><b>Entregada la documentaciò per el
                            web</b></label>
                        {{ form.es_docum_web }}


                        {{ form.data_docum_web.errors }}
                        <label for="{{ form.data_docum_web.id_for_label }}"></label>
                        {{ form.data_docum_web }}

                        {{ form.id_estat_prj.errors }}
                        <label for="{{ form.id_estat_prj.id_for_label }}"><b>Estat</b></label>
                        {{ form.id_estat_prj }}
                    </div>
                </div>

                <!--##############PERSONAL-->
                <div id="contenedor_personal" class="cont_prj">
                    <h1>ESTE ES EL PERSONAL</h1>
                    <div class="row-fluid">
                        {{ form.es_coordinat.errors }}
                        <label for="{{ form.es_coordinat.id_for_label }}">Projecte coordinat</label>
                        {{ form.es_coordinat }}
                    </div>
                    <div class="row-fluid">
                        {{ form.id_centre_part.errors }}
                        <label for="{{ form.id_centre_part.id_for_label }}">Centres participants en el projecte</label>
                        {{ form.id_centre_part }}
                        <br>
                        <textarea>

                        </textarea>
                    </div>

                    <div class="row-fluid">
                        <input type="radio" id="coordinat_creaf">Coordinat pel CREAF</input>
                    </div>

                    <div class="row-fluid">
                        <input type="radio" id="coordinat_per"/>Coordinat per:</input><br>
                        <!--#####CAMBIAR EL ID POR ALGO COMO "COORDINADOR"-->
                        {{ form.id_resp.errors }}
                        <label for="{{ form.id_resp.id_for_label }}">Coordinador</label>
                        {{ form.id_resp }}
                        <br>
                        Institució:<input>

                    </div>

                    <div class="row-fluid">
                        Investigadors i Personal del CREAF
                        <table border="2">
                            <tr>
                                <td>Nom i cognoms</td>
                                <td>Justificació hores</td>
                            </tr>
                            <td></td>
                            <td></td>
                        </table>
                    </div>

                    <div class="row-fluid">
                        Investigadors d'altres centres o isntitucions
                        <table border="2">
                            <tr>
                                <td>Nom i cognoms</td>
                                <td>Justificació hores</td>
                            </tr>
                            <td></td>
                            <td></td>
                        </table>
                    </div>

                </div>

                <!--##############FINANÇAMENT-->
                <div id="contenedor_finançament" class="cont_prj">
                    <h1>ESTE ES EL DE FINANÇAMENT</h1>

                </div>

                <!--##############PRESSUPOST-->
                <div id="contenedor_pressupost" class="cont_prj">
                    <h1>ESTE ES EL PRESSUPOST</h1>

                </div>

                <!--##############JUSTIFICACIONS-->
                <div id="contenedor_justificacions" class="cont_prj">
                    <h1>ESTE ES EL DE JUSTIFICACIONS</h1>

                </div>

                <!--##############BOTONES-->
                <div name="cont_botones">
                    <input type="submit" value="Submit"/>
                    <input type="button" value="Cancel·lar" onclick="location.href='/'">
                </div>
            </form>
        </div>

        <!--</div>-->

        <!--</div>-->
        {% endblock %}