{% extends "gestprj/base.html" %}
{% block contenido %}
<!--<div class="container-fluid" name="contenedor_total">-->
<!--<div name="contenedor_general" class="col-md-12 col-md-offset-1">-->

<div class="container-fluid-full">
    <div class="row-fluid">

        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav navbar-fixed-left">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a href="#" id="general">General</a></li>
                    <li><a href="#" id="personal">Personal</a></li>
                    <li><a href="#" id="finançament">Finançament</a></li>
                    <li><a href="#" id="pressupost">Pressupost</a></li>
                    <li><a href="#" id="justificacions">Justificacions</a></li>

                    <!--<li>-->
                    <!--<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Dropdown</span><span class="label label-important"> 3 </span></a>-->
                    <!--<ul>-->
                    <!--<li><a class="submenu" href="submenu.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 1</span></a></li>-->
                    <!--<li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>-->
                    <!--<li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li>-->
                    <!--</ul>-->
                    <!--</li>-->

                </ul>
            </div>
        </div>

        <div id="content" class="span10">

            <!--<style>-->
            <!--body,html,#sidebar-left{-->
            <!--height:100%;-->
            <!--}-->


            <!--</style>-->


            <div name="contenedor_formularios" class="row-fluid"> <!--span10??-->

                <form id="formulario_nou_projecte" action="/projecte_nou/" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div id="contenedor_general">
                        <!--{{ form.id_projecte.errors }}-->
                        <!--<label for="{{ form.id_projecte.id_for_label }}">Id projecte</label>-->
                        {{ form.id_projecte.as_hidden}}
                        <h2>Responsable</h2>

                        {{ form.id_resp.errors }}
                        <label for="{{ form.id_resp.id_for_label }}">Responsable:</label>
                        {{ form.id_resp }}

                        {{ form.codi_prj.errors }}
                        <label for="{{ form.codi_prj.id_for_label }}">codi prj(????)</label>
                        {{ form.codi_prj }}

                        <hr>

                        {{ form.codi_oficial.errors }}
                        <label for="{{ form.codi_oficial.id_for_label }}">codi oficial</label>
                        {{ form.codi_oficial }}

                        {{ form.acronim.errors }}
                        <label for="{{ form.acronim.id_for_label }}">acronim</label>
                        {{ form.acronim }}

                        <hr>

                        {{ form.titol.errors }}
                        <label for="{{ form.titol.id_for_label }}">titol</label>
                        {{ form.titol }}

                        <hr>

                        {{ form.resum.errors }}
                        <label for="{{ form.resum.id_for_label }}">resum</label>
                        {{ form.resum }}

                        <hr>

                        <!--<input id="serv_o_subven" name="serv_o_subven" value="1" />-->
                        {{ form.serv_o_subven }}
                        <!--<input type="radio" class="servsubv" name="serv_o_subven" value="1" checked> Servei</input>-->
                        <!--<input type="radio" class="servsubv" name="serv_o_subven" value="2"> Subvencio</input>-->

                        <select id="id_categoria" name="id_categoria">
                            {% for categoria in categories %}
                            <option name="opcion" class="{{ categoria.serv_o_subven }}"
                                    value="{{ categoria.id_categoria }}">
                                {{categoria}}
                            </option>
                            {% endfor %}
                        </select>

                        <hr>
                        {{ form.convocatoria.errors }}
                        <label for="{{ form.convocatoria.id_for_label }}">convocatoria</label>
                        {{ form.convocatoria }}

                        {{ form.resolucio.errors }}
                        <label for="{{ form.resolucio.id_for_label }}">resolucio</label>
                        {{ form.resolucio }}

                        <hr>

                        {{ form.data_inici_prj.errors }}
                        <label for="{{ form.data_inici_prj.id_for_label }}">data inici</label>
                        {{ form.data_inici_prj }}

                        <!--<script>alert("{{ form.data_fi_prj.data }}");</script>-->
                        {% if form.data_fi_prj.data == None %}
                        <input type="checkbox" id="fin" name="fin"/>Finalitzat
                        {% else %}
                        <input type="checkbox" id="fin" name="fin" checked/>Finalitzat
                        {% endif %}


                        {{ form.data_fi_prj.errors }}
                        <label for="{{ form.data_fi_prj.id_for_label }}">data fi</label>
                        {{ form.data_fi_prj }}

                        <hr>

                        {{ form.comentaris.errors }}
                        <label for="{{ form.comentaris.id_for_label }}">comentaris</label>
                        {{ form.comentaris }}

                        <hr>

                        <input type="checkbox" id="checkbox_docum_web"/>Entregada la documentació per el web
                        {{ form.es_docum_web.errors }}
                        {{ form.es_docum_web }}


                        {{ form.data_docum_web.errors }}
                        {{ form.data_docum_web }}

                        {{ form.id_estat_prj.errors }}
                        <label for="{{ form.id_estat_prj.id_for_label }}">id estat prj</label>
                        {{ form.id_estat_prj }}

                    </div>
                    <div id="contenedor_personal">
                        {{ form.es_coordinat.errors }}
                        {{ form.es_coordinat }}

                        <input type="checkbox" id="checkbox_coordinat"/>Projecte coordinat
                        <div class="box span11">
                            <table id="centres_participants" class="display">
                                <div id="controlador">
                                    <a class="btn btn-success" href="#">
                                        <i class="halflings-icon white plus-sign"></i>
                                    </a>
                                    <a class="btn btn-info" href="#">
                                        <i class="halflings-icon white pencil"></i>
                                    </a>
                                    <a class="btn btn-danger" id="eliminar_campo" href="#">
                                        <i class="halflings-icon white minus-sign"></i>
                                    </a>
                                </div>
                                <thead>
                                <tr><th style="width:1000px;">Centres participants en el projecte:</th></tr>
                                </thead>
                                <tbody>
                                {% for organisme in organismes %}
                                <tr><td>{{ organisme }}</td></tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {{ form.id_usuari_extern.errors }}
                        <label for="{{ form.id_usuari_extern.id_for_label }}">id usuari extern</label>
                        {{ form.id_usuari_extern }}

                    </div>

                    <div id="contenedor_finançament">
                        {{ form.canon_oficial.errors }}
                        <label for="{{ form.canon_oficial.id_for_label }}">canon oficial</label>
                        {{ form.canon_oficial }}

                        {{ form.percen_canon_creaf.errors }}
                        <label for="{{ form.percen_canon_creaf.id_for_label }}">percen canon creaf</label>
                        {{ form.percen_canon_creaf }}

                        {{ form.percen_iva.errors }}
                        <label for="{{ form.percen_iva.id_for_label }}">percen iva</label>
                        {{ form.percen_iva }}
                    </div>

                    <div id="contenedor_pressupost">

                    </div>

                    <div id="conentedor_justificacions">

                    </div>


                    <!--##############BOTONES-->
                    <div name="cont_botones">
                        <a class="btn btn-confirmacion" href="#">Guardar projecte</a>
                    </div>

                    <div class="modal hide fade in" id="confirmacion" aria-hidden="false">
                        <div class="modal-body">
                            <h2 class="text-center" style="color:black;">Estás segur que vols guardar?<br></h2>
                        </div>
                        <div class="modal-footer">
                            <input id="boton_guardar" type="submit" class="btn btn-primary" value="Si,guardar"/>
                            <a class="btn" data-dismiss="modal">No,cancel·lar</a>
                        </div>
                    </div>

                </form>
                <br>
                <br>
                <br>

            </div>


        </div>
    </div>
</div>
{% endblock %}